/* Woot Add Meh */
#woot .bottom, #woot.selected {
background: #652d7b !important;
}
.votes-rs .title.woot {
background: #652d7b !important;
}
#grab .bottom, #grab.selected {
background: #aa74ff;
}
.votes-rs .title.grab {
    background: #aa74ff !important;
}
#meh .bottom, #meh.selected {
    background: #cc0011;
}
.votes-rs .title.meh {
    background: #cc0011 !important;
}
#woot.selected .icon, #grab.selected .icon, #meh.selected .icon {
    animation: pulse 1s ease infinite;
}
#vote .crowd-response .top .icon-woot, #user-lists .list.room .user .icon-woot {
    background: url('https://rawgit.com/dawidstf89/Joanne-2016/master/woot.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
/* Woot Add Meh */