          @import url("https://rawgit.com/dawidstf89/Cubby-Rap-Underground-Hip-Hop/master/2.css");

.app-header, #footer-user .info, #dashboard {
    background: rgba(0, 0, 0, 0.79) !important;
}
#volume .slider {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0px -19px 0px 6px rgba(0, 0, 0, 0), 0px 18px 0px 6px rgba(0, 0, 0, 0) !important;
}
#rcs-menu {
background: rgba(0, 0, 0, 0.57) !important;
}
#footer, .app-right {
    background: rgba(0, 0, 0, 0.75) !important;
}
#playlist-panel, #user-view, #waitlist .list .sortable-placeholder, #room-settings {
    background: rgba(0, 0, 0, 0.95) !important;
}
#now-playing-bar, #history-button, #rs-skip-button, #playlist-menu, #user-menu, #room-settings-menu, .app-right .friends, .badge-box {
    background: none !important;
}
#app-menu, #app-menu .list {
    background: rgba(0, 0, 0, 0.79) !important;
}
#room .app-right {
    background: rgba(0, 0, 0, 0.57) !important;
}
.header-panel-button.selected, #footer-user .buttons .button.store:hover, #footer-user .buttons .button:hover, #app-menu .list .logout:hover {
    background: rgba(101, 45, 123, 0.67) !important;
}
#app-menu .list .rcsunload:hover, #app-menu .list .item:hover {
    background: rgba(101, 45, 123, 0.67)!important;
}
.app-right .friends .list .row.clickable .room, #room-settings .general-settings a, #room-settings .general-settings a:visited {
    color: rgba(101, 45, 123, 1)!important;
}
.icon-staff {
    background-position: 35px 520px !important;
}
#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #652d7b !important;
}
#chat .emote, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #chat .cm, #chat .emote:nth-child(2n+1),#chat .message:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .system:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1), #chat .cm:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.4) !important;
}
#chat .welcome {
    color: #028fed !important;
}
#chat .mention, #chat .mention:nth-child(2n+1),  #chat .mention.is-dj, #chat .mention.is-staff, #chat .mention.is-dj:nth-child(2n+1), #chat .mention.is-staff:nth-child(2n+1) {
    background: linear-gradient(to left, rgba(101, 45, 123, 0.54) 0%,rgba(0, 0, 0, 0.64) 100%) !important;
    border-left: rgba(101, 45, 123, 0.67) 3px solid !important;
}
#user-lists .list .user:hover, #waitlist .list .user {
	background: linear-gradient(to right, hsla(283, 46%, 33%, 0.42) 0%,rgba(0,0,0,0) 100%) !important;
}
#chat .msg .text .name, #chat .msg .text .name .name {
    color: #FFF !important;
}
.experience .xp .bar .progress, #footer-user .info .bar .progress, .experience .levels .level.earned.avatar .label {
	background: #652d7b !important;
}
#chat-input {
	background: rgba(7, 141, 242, 0.48) !important;
}
#chat .focused, #room-settings .focused {
    -webkit-box-shadow: inset 0 0 0 #218df2!important;
    -moz-box-shadow: inset 0 0 0 #218df2!important;
    box-shadow: inset 0 0 0 1px #218df2!important;
}
#chat .msg .text .name, #chat .msg .text .name .name {
    color: #FFF !important;
}
#rcs-progress-container .bar {
    background: #652d7b !important;
}
#user-lists .list.staff .group {
    border-top: 1px solid rgba(101, 45, 123, 1) !important;
    border-bottom: 1px solid rgba(101, 45, 123, 1) !important;
    background: rgba(101, 45, 123, 0.36) !important;
}
#playlist-button, #playlist-menu .menu .row.selected, #playlist-activate-button, #playlist-import:hover, .media-list .row.selected, .tab-menu button.selected, #user-menu .item.selected, #room-settings-menu .item.selected {
    background: rgba(101, 45, 123, 0.67) !important;
}
.icon-check-circle, .icon-check-purple {
    background-position: -70px -140px !important;
}
#playlist-menu .menu .row .count, #playlist-activate-button span {
color: #FFF !important;
}
.icon-next-track {
    background-position: -70px -175px !important;
}
.media-list .selected .actions {
    background: rgba(101, 45, 123, 1) !important;
}
#room-bar .icon-grab, .communities .grid .cell .favorite .icon-grab {
background-position: -40px -280px !important;
}
#room-bar .icon-grab, .communities .grid .cell .favorite .icon-grab {
background-position: -40px -280px !important;
}
.communities .grid .cell .bar, .communities .grid .cell .favorite, .communities .grid .cell .meta, .communities .grid .cell .meta .host, .communities .grid .cell {
background: #000 !important;
}
.communities .grid .cell:hover>.meta {
background: rgba(0, 0, 0, 0.65) !important;
}
.communities .grid .cell .meta .join {
background: rgba(101, 45, 123, 0.56) !important;
}
/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: rgba(101, 45, 123, 0.67) !important;
}
.jspDrag {
    background: rgba(101, 45, 123, 0.64) !important;
}
.jspDrag:hover, .jspTrack .jspActive, .jspTrack .jspHover, .experience .levels .level.earned.avatar .label {
    background: rgba(101, 45, 123, 0.75) !important;
}
/* Scrollbar */

#footer-user .back, #footer-user .signup {
    background: rgba(5, 138, 240, 0.63) !important;
    -webkit-box-shadow: inset 0 2px 0 -1px rgba(101, 45, 123, 0.81) !important;
    -moz-box-shadow: inset 0 2px 0 -1px rgba(101, 45, 123, 0.81) !important;
    box-shadow: inset 0 2px 0 -1px rgba(101, 45, 123, 0.81) !important;
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
background: #b30513 !important;
}
#dj-button .left {
background: #652d7b !important;
}